{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "tailwindFunctions": ["clsx", "tv", "cn"]
}
