---
import { type CollectionEntry } from "astro:content";

interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
---

<div class="flex-col-standard">
  <p>{book.data.title}</p>

  <p class="text-sm text-gray-500">{book.data.author}</p>
</div>
