---
import { getCollection } from "astro:content";
import BookPreview from "@components/now/BookPreview.astro";

const books = await getCollection("books");

const readingBooks = books.filter((book) => book.data.status === "reading");
---

<div class="flex-col-standard">
  <h4>Reading</h4>

  {readingBooks.map((book) => <BookPreview {book} />)}
</div>
