---
import ThemeSelector from "@components/shared/ThemeSelector.js";

const { pathname } = Astro.url;

const links = [
  { href: "/", title: "Home" },
  { href: "/writing", title: "Writing" },
  { href: "/art", title: "Art" },
  { href: "/work", title: "Work" },
  { href: "/lists", title: "Lists" },
  { href: "/now", title: "Now" },
];
---

<header class="mx-auto mb-24">
  <div class="flex w-auto flex-row gap-4 rounded-xl bg-[#232530] p-2 pr-4 text-sm text-[#F8F8F3]">
    {
      links.map((link) => (
        <a
          role="button"
          class={`rounded-lg p-1 px-2 hover:bg-[#414558] ${pathname === link.href && "text-[#a5a5a5]"}`}
          href={link.href}>
          {link.title}
        </a>
      ))
    }

    <ThemeSelector client:load />
  </div>
</header>
