---
import ThemeSelector from "@components/shared/ThemeSelector.js";

const { pathname } = Astro.url;

const links = [
  { href: "/", title: "Home" },
  { href: "/writing", title: "Writing" },
  { href: "/art", title: "Art" },
  { href: "/work", title: "Work" },
  { href: "/lists", title: "Lists" },
  { href: "/now", title: "Now" },
];
---

<header class="w-full">
  <div class="flex flex-row justify-between text-sm">
    <ThemeSelector client:load />

    <div>
      {
        links.map((link) => (
          <a
            role="button"
            class={`ml-3 rounded-lg hover:text-[#a5a5a5] ${pathname === link.href && "text-[#a5a5a5]"}`}
            href={link.href}
          >
            {link.title}
          </a>
        ))
      }
    </div>
  </div>
</header>
