---
import ThemeSelector from "@components/shared/ThemeSelector.js";
import { Button } from "@/components/ui/button";
import NavDropdown from "@/components/shared/NavDropdown";

const { pathname } = Astro.url;

const links = [
  { href: "/", title: "Home" },
  { href: "/writing", title: "Writing" },
  { href: "/art", title: "Art" },
  { href: "/work", title: "Work" },
  { href: "/lists", title: "Lists" },
  { href: "/now", title: "Now" },
];
---

<header class="w-full">
  <div class="flex-row-standard">
    <ThemeSelector client:load />

    <div class="sm:hidden">
      <NavDropdown
        client:load
        {links}
      />
    </div>

    <div class="-mr-3 hidden sm:inline-block">
      {
        links.map((link) => (
          <Button variant="link">
            <a
              class={`text-xs md:text-sm ${pathname === link.href && "text-accent-foreground underline underline-offset-4"}`}
              href={link.href}
            >
              {link.title}
            </a>
          </Button>
        ))
      }
    </div>
  </div>
</header>
