---
import { formatDateWithOrdinal } from "src/lib/helpers";

interface Props {
  id: string;
  title: string;
  date: Date;
  category: "art" | "writing";
}

const { id, title, date, category } = Astro.props;
---

<a
  class="group relative"
  href={`/${category}/${id}`}
>
  <div
    class="group-hover:bg-accent-foreground absolute left-0 z-0 h-8 w-full group-hover:scale-x-105"
  >
  </div>

  <div
    class="group-hover:text-accent mt-[2px] flex w-full flex-row items-center justify-between"
  >
    <p class="z-10 font-bold">{title}</p>
    <p
      class="group-hover:text-accent z-10 text-sm text-gray-500 dark:text-gray-400"
    >
      {formatDateWithOrdinal(date)}
    </p>
  </div>
</a>
