---
import { formatDateWithOrdinal } from "src/lib/helpers";

interface Props {
  id: string;
  title: string;
  date: Date;
  category: "art" | "writing";
}

const { id, title, date, category } = Astro.props;
---

<a
  class="flex-row-standard group"
  href={`/${category}/${id}`}
>
  <p class="transition-all group-hover:underline">{title}</p>
  <p class="text-sm text-gray-500 dark:text-gray-400">
    {formatDateWithOrdinal(date)}
  </p>
</a>
