---

---

<div
  class="prose dark:prose-invert prose-headings:font-medium prose-a:text-accent-foreground prose-img:rounded-xl prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-base prose-code:font-console prose-code:font-normal text-sm"
>
  <slot />
</div>
