---
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";
const books = await getCollection("books");
console.log(books);
---

<Layout title="Lists">
  <div class="flex h-auto w-full flex-col items-center justify-start gap-8">
    <div class="section">
      <h2 class="header">Year In Review</h2>
      <p class="content">
        maybe a list of cards and each card is a category like Books and i keep a running tally of
        what i've done for that category this year
      </p>
    </div>

    <div class="section">
      <h2 class="header">All-Time Top 5 or 10</h2>
      <p class="content">
        each card or whatever would be a top (and/or bottom) 5 or 10 for that category
      </p>
      <p class="content">
        possible categories: books (even subcategories), movies, tv shows (comedy/drama),
        cities/states lived in or visited, programming languages, frameworks, music (albums/bands),
        artists, paintings
      </p>
      <p class="content">
        maybe a "Suggest a Category" button or something. or "Submit Your Own"...make it interactive
      </p>
    </div>
  </div>
</Layout>

<style>
  @reference "tailwindcss";

  .section {
    @apply h-40 w-full border-1 border-dashed border-gray-400;
  }

  .header {
    @apply text-lg font-bold;
  }

  .content {
    @apply text-sm;
  }
</style>
