---
import { getCollection } from "astro:content";
const top5 = await getCollection("top5");

const movies = top5
  .filter((item) => item.data.category === "movies")
  .map((item) => item.data.items)[0];

const tvShows = top5
  .filter((item) => item.data.category === "tv-shows")
  .map((item) => item.data.items)[0];

const books = top5
  .filter((item) => item.data.category === "books")
  .map((item) => item.data.items)[0];
---

<div class="flex-col-standard">
  <h3>All-Time Top 5</h3>

  <div class="flex-col-standard">
    <div class="flex-col-standard">
      <h4>Movies</h4>

      <div class="flex-col-standard">
        {
          movies.map((movie, idx) => (
            <div class="flex-row-standard-start gap-3">
              <p class="w-3">{idx + 1}.</p>
              <p>{movie}</p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex-col-standard">
      <h4>TV Shows</h4>

      <div class="flex-col-standard">
        {
          tvShows.map((show, idx) => (
            <div class="flex-row-standard-start gap-3">
              <p class="w-3">{idx + 1}.</p>
              <p>{show}</p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex-col-standard">
      <h4>Books</h4>

      <div class="flex-col-standard">
        {
          books.map((book, idx) => (
            <div class="flex-row-standard-start gap-3">
              <p class="w-3">{idx + 1}.</p>
              <p>{book}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
