@tailwind base;
@tailwind components;

/**********************************************
Fonts
**********************************************/

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Italic";
  src: url("../fonts/rubik_italic.ttf") format("truetype");
}

@font-face {
  font-family: "Blackout Midnight";
  src: url("../fonts/blackout_midnight.ttf") format("truetype");
}

@font-face {
  font-family: "Blackout Sunrise";
  src: url("../fonts/blackout_sunrise.ttf") format("truetype");
}

@font-face {
  font-family: "Blackout Two AM";
  src: url("../fonts/blackout_two_am.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

/**********************************************
Global
**********************************************/

.disable {
  @apply opacity-40 cursor-not-allowed pointer-events-none;
}

.debug {
  @apply border border-red-300 border-dashed;
}

.size-full {
  @apply w-full h-full;
}

.flex-row-standard {
  @apply flex flex-row justify-center items-center;
}

.flex-col-standard {
  @apply flex flex-col justify-center items-center;
}

* {
  text-transform: none !important;
}

/**********************************************
Scrollbars
**********************************************/

html {
  --smoke: rgba(128, 128, 128, 0.5);
}
/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--smoke) transparent;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--smoke);
  border-radius: 3px;
}

@tailwind utilities;
