---
import { formatDateWithOrdinal } from "@/lib/helpers";
import { Badge } from "@/components/ui/badge";
import { Separator } from "@/components/ui/separator";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"writing">;
}

const { post } = Astro.props;
---

<h1 class="-mb-6 text-3xl no-underline">{post.data.title}</h1>

<p class="-mb-10 text-sm">{post.data.description}</p>

<p class="text-primary/50 -mb-4 text-xs">
  {formatDateWithOrdinal(post.data.pubDate)}
</p>

<div class="flex-row-standard-start gap-2">
  {post.data.tags.map((tag) => <Badge variant="outline">{tag}</Badge>)}
</div>

<Separator className="mt-2 w-full" />
