---
import { type CollectionEntry } from "astro:content";
import PostPreview from "@components/shared/PostPreview.astro";

interface Props {
  title: string;
  form: "long" | "short";
  posts: CollectionEntry<"writing">[];
}

const { title, form, posts } = Astro.props;

const p = posts
  .filter((post) => post.data.form === form)
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime());
---

<div class="flex-col-standard">
  <h3>{title}</h3>

  <div class="flex-col-standard">
    {
      p.map((post) => (
        <PostPreview
          id={post.id}
          title={post.data.title}
          date={post.data.pubDate}
          category="writing"
        />
      ))
    }
  </div>
</div>
