@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/Inter_Variable.ttf") format("truetype");
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**********************************************
Layer Additions
**********************************************/

@layer utilities {
  .flex-standard {
    @apply flex items-center justify-center;
  }
  .flex-row-standard {
    @apply flex-standard flex-row;
  }
  .flex-col-standard {
    @apply flex-standard flex-col;
  }
  .size-full {
    @apply h-full w-full;
  }
  .debug {
    @apply border border-dashed border-red-300;
  }
  .disable {
    @apply pointer-events-none cursor-not-allowed opacity-40;
  }
}

/**********************************************
Component Additions
**********************************************/

@layer components {
  .card {
    @apply size-full rounded-xl border border-grey-400 bg-grey-200 p-6 dark:border-grey-700 dark:bg-grey-900;
  }
  .btn {
    @apply w-auto rounded-xl border border-grey-400 px-4 text-center text-sm font-medium hover:bg-grey-200 dark:border-grey-700 hover:dark:bg-grey-800;
  }
  .btn-large {
    @apply btn h-12 min-w-36 p-3 sm:h-14 sm:min-w-48 sm:text-base lg:h-16 lg:min-w-56 lg:p-4 lg:text-lg lg:font-semibold;
  }
}

/**********************************************
Scrollbars
**********************************************/

html {
  --smoke: rgba(128, 128, 128, 0.5);
}
/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--smoke) transparent;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--smoke);
  border-radius: 3px;
}
