@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format("woff2-variations");
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply m-0 min-h-screen w-screen overflow-hidden bg-slate-950 p-0 font-inter font-normal;
    background: url("../images/background.jpg") center;
    background-size: cover;
  }
}

@layer utilities {
  .debug {
    @apply border-2 border-dashed border-red-500;
  }
}
