---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <div class="flex h-auto w-full flex-col items-center justify-start gap-8">
    <div class="section">
      <h2 class="header">Avatar / Bio / Summary</h2>
      <p class="content">Short bio or mission sentence</p>
    </div>

    <div class="section">
      <h2 class="header">Recent Blog Posts</h2>
      <p class="content">maybe 3–5 titles or a preview</p>
    </div>

    <div class="section">
      <h2 class="header">Recent Art / Photos</h2>
      <p class="content"></p>
    </div>

    <div class="section">
      <h2 class="header">What's Happening Now?</h2>
      <p class="content">what i'm currently reading / watching / into</p>
    </div>
  </div>
</Layout>

<style>
  @reference "tailwindcss";

  .section {
    @apply h-40 w-full border-1 border-dashed border-gray-400;
  }

  .header {
    @apply text-lg font-bold;
  }

  .content {
    @apply text-sm;
  }
</style>
