---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="flex size-full flex-col items-center justify-center text-center">
    <h2 class="mb-4 text-2xl font-semibold">Under Construction</h2>
    <p>The site is currently undergoing maintenance.</p>
    <p>I hope to have it back up soon.</p>
  </div>
</Layout>
