---
import Layout from "@layouts/Layout.astro";

import RecentArtSection from "@components/home/art/RecentArtSection.astro";
import RecentWritingSection from "@components/home/writing/RecentWritingSection.astro";
import Hero from "@components/home/hero/Hero.astro";
---

<Layout title="Home">
  <div class="flex h-auto w-full flex-col items-start justify-start gap-12">
    <Hero />
    <RecentWritingSection />
    <RecentArtSection />
  </div>
</Layout>
