---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-2xl font-semibold">Under Construction</h2>
  <p>This site is currently undergoing maintenance. I hope to have it back up soon.</p>
</Layout>
