---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Work">
  <div class="flex h-auto w-full flex-col items-center justify-start gap-8">
    <div class="section">
      <h2 class="header">Summary of experience</h2>
      <p class="content">short listing of employers and a few bullets for work done</p>
      <p class="content">maybe some mention of special or large projects</p>
      <p class="content">maybe a button that downloads resume</p>
    </div>

    <div class="section">
      <h2 class="header">Tech Stack</h2>
      <p class="content">icons for most used tech, hover to show tooltip name</p>
      <p class="content">maybe grouped by frequency of use (all the time, not so often, etc)</p>
    </div>

    <div class="section">
      <h2 class="header">Notable Projects</h2>
      <p class="content">
        cards and overview information on some of the more notable projects ive worked on
      </p>
    </div>
  </div>
</Layout>

<style>
  @reference "tailwindcss";

  .section {
    @apply h-40 w-full border-1 border-dashed border-gray-400;
  }

  .header {
    @apply text-lg font-bold;
  }

  .content {
    @apply text-sm;
  }
</style>
