---
import ArtItem from "@components/art/ArtItem.astro";
import { type CollectionEntry } from "astro:content";

interface Props {
  items: CollectionEntry<"art">[];
}

const { items } = Astro.props;
---

<div class="flex-row-standard-start gap-2">
  {items.map((item) => <ArtItem {item} />)}
</div>
