---
import ReadingNowSection from "@components/home/now/ReadingNowSection.astro";
---

<div class="flex w-full flex-col items-start justify-start">
  <h2 class="mb-4 text-xl font-semibold">What's Happening Now?</h2>

  <ReadingNowSection />
</div>
