---
import { getCollection } from "astro:content";
import WritingPostPreview from "@components/home/writing/WritingPostPreview.astro";

const writingPosts = await getCollection("writing");

const latestWritingPosts = writingPosts
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
  .slice(0, 5);
---

<div class="flex w-full flex-col items-start justify-start">
  <h2 class="mb-4 text-xl font-semibold">Recent Writing</h2>

  {latestWritingPosts.map((post) => <WritingPostPreview post={post} />)}
</div>
