---
import { getCollection } from "astro:content";
import WritingPostPreview from "@components/shared/WritingPostPreview.astro";

const writingPosts = await getCollection("writing");

const latestWritingPosts = writingPosts
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
  .slice(0, 5);
---

<div class="flex w-full flex-col items-start justify-start">
  <div class="mb-4 flex h-auto w-full flex-row items-center justify-between">
    <h2 class="text-xl font-semibold text-[#F8F8F3]">Recent Writing</h2>

    <a role="button" class="rounded-lg border border-[#CECECD] p-1 px-2 text-xs" href="/writing">
      See All
    </a>
  </div>

  {latestWritingPosts.map((post) => <WritingPostPreview {post} />)}
</div>
