---
import { getCollection } from "astro:content";
import BookPreview from "@components/home/now/BookPreview.astro";

const books = await getCollection("books");

const readingBooks = books.filter((book) => book.data.status === "reading");
---

<div class="flex w-full flex-col items-start justify-start">
  <h3 class="mb-2 font-semibold">Reading</h3>
  {readingBooks.map((book) => <BookPreview {book} />)}
</div>
