---
import { getCollection } from "astro:content";
import PostPreview from "@components/shared/PostPreview.astro";

const writingPosts = await getCollection("writing");

const latestWritingPosts = writingPosts
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
  .slice(0, 5);
---

<div class="flex w-full flex-col items-start justify-start">
  <div class="mb-4 flex h-auto w-full flex-row items-center justify-between">
    <h2 class="text-xl font-semibold dark:text-[#F8F8F3]">Recent Writing</h2>

    <a
      role="button"
      class="rounded-lg border border-gray-300 p-1 px-2 text-xs text-gray-400 hover:bg-gray-100 dark:border-gray-700 hover:dark:bg-[#282a35]"
      href="/writing"
    >
      See All
    </a>
  </div>

  <div class="flex w-full flex-col gap-2">
    {
      latestWritingPosts.map((post) => (
        <PostPreview
          id={post.id}
          title={post.data.title}
          date={post.data.pubDate}
          category="writing"
        />
      ))
    }
  </div>
</div>
