---
import { getCollection } from "astro:content";
import PostPreview from "@components/shared/PostPreview.astro";
import { Button } from "@components/ui/button";

const writingPosts = await getCollection("writing");

const latestWritingPosts = writingPosts
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
  .slice(0, 3);
---

<div class="flex w-full flex-col items-start justify-start">
  <div class="mb-4 flex h-auto w-full flex-row items-center justify-between">
    <h2 class="text-xl font-semibold dark:text-[#F8F8F3]">Recent Writing</h2>

    <Button
      variant="link"
      className="p-0"
    >
      <a href="/writing"> See All </a>
    </Button>
  </div>

  <div class="flex w-full flex-col">
    {
      latestWritingPosts.map((post) => (
        <PostPreview
          id={post.id}
          title={post.data.title}
          date={post.data.pubDate}
          category="writing"
        />
      ))
    }
  </div>
</div>
