---
import { getCollection } from "astro:content";
import PostPreview from "@components/shared/PostPreview.astro";
import { Button } from "@components/ui/button";

const writingPosts = await getCollection("writing");

const latestWritingPosts = writingPosts
  .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
  .slice(0, 3);
---

<div class="flex-col-standard">
  <div class="flex-row-standard">
    <h3>Recent Writing</h3>

    <Button
      variant="link"
      className="p-0"
    >
      <a href="/writing"> See All </a>
    </Button>
  </div>

  <div class="flex-col-standard">
    {
      latestWritingPosts.map((post) => (
        <PostPreview
          id={post.id}
          title={post.data.title}
          date={post.data.pubDate}
          category="writing"
        />
      ))
    }
  </div>
</div>
