---
import ExperienceSection from "@components/work/ExperienceSection.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const items = await getCollection("work");
---

<Layout title="Work">
  <div class="h-auto w-[45rem] pr-8">
    <div class="flex w-full flex-col items-center justify-start gap-2">
      {items.map((item) => <ExperienceSection {item} />)}
    </div>
  </div>
</Layout>
