---
import { getCollection } from "astro:content";
import ArtPostPreview from "@components/home/art/ArtPostPreview.astro";

const artPosts = await getCollection("art");

const latestArtPosts = artPosts
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .slice(0, 5);
---

<div class="flex w-full flex-col items-start justify-start">
  <div class="mb-4 flex h-auto w-full flex-row items-center justify-between">
    <h2 class="text-xl font-semibold dark:text-[#F8F8F3]">Recent Art</h2>

    <a
      role="button"
      class="rounded-lg border border-gray-300 p-1 px-2 text-xs text-gray-400 hover:bg-gray-100 dark:border-gray-700 hover:dark:bg-[#282a35]"
      href="/art">
      See All
    </a>
  </div>

  <div class="flex w-full flex-col gap-2">
    {latestArtPosts.map((post) => <ArtPostPreview {post} />)}
  </div>
</div>
