---
import { getCollection } from "astro:content";
import ArtPostPreview from "@components/home/art/ArtPostPreview.astro";

const artPosts = await getCollection("art");

const latestArtPosts = artPosts
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .slice(0, 5);
---

<div class="flex w-full flex-col items-start justify-start">
  <div class="mb-4 flex h-auto w-full flex-row items-center justify-between">
    <h2 class="text-xl font-semibold text-[#F8F8F3]">Recent Art</h2>

    <a role="button" class="rounded-lg border border-[#CECECD] p-1 px-2 text-xs" href="/art">
      See All
    </a>
  </div>

  {latestArtPosts.map((post) => <ArtPostPreview {post} />)}
</div>
