---
import "../styles/global.css";
import "@fontsource/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>David Glassman</title>
  </head>

  <body>
    <slot />
  </body>
</html>
