---
import "@styles/global.css";
import "@fontsource/fira-code";
import { ClientRouter } from "astro:transitions";
import NavBar from "@components/shared/NavBar.astro";
import Footer from "@components/shared/Footer.astro";

interface Props {
  title: string;
}

const { title = "David Glassman" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      (() => {
        try {
          const theme = localStorage.theme;
          if (
            theme === "dark" ||
            (!theme &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
          ) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        } catch (e) {}
      })();
    </script>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>{title}</title>

    <ClientRouter />
  </head>

  <body class="scrollbar">
    <div
      class="mx-auto flex min-h-lvh max-w-[50rem] flex-col items-start justify-between gap-4 p-4 py-8"
    >
      <div class="flex-col-standard gap-16">
        <NavBar />

        <div class="flex-col-standard gap-12">
          <slot />
        </div>
      </div>

      <Footer />
    </div>
  </body>
</html>
